<!DOCTYPE html>
<html lang="ru" ng-app="Calculator">
<head>
    <meta charset="UTF-8">

    <title>
        Калькулятор
    </title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <!--<link rel="stylesheet"-->
    <!--href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">-->
    <link rel="stylesheet"
          href="css/calculator.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="js/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="js/angularjs/1.5.7/angular-messages.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src="js/calculator.js"></script>


</head>
<body>

<main class="container" ng-controller="CalcController">


    <div class=""><h3>Калькулятор условий страхования жизни</h3></div>
    <form>
        <div class="panel panel-default">
            <div class="panel-heading">Страховые риски</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Тип застрахованного лица</th>
                        <th>Риск</th>
                        <th>Страховая сумма</th>
                        <th>Взнос</th>
                        <th>Срок оплаты взносов</th>
                        <th>Срок действия риска</th>
                        <th>Нетто-тариф</th>
                    </tr>
                    <tr ng-repeat="risk in risks">
                        <td>{{risk.forIndividualType}}</td>
                        <td>{{risk.riskName}}</td>
                        <td>{{risk.riskAmount}}</td>
                        <td>{{risk.payAmount}}</td>
                        <td>{{risk.payTerm}}</td>
                        <td>{{risk.term}}</td>
                        <td>{{risk.nettoTariff}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Условия страхования по договору
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <label for="insScheme"> Программа страхования: </label>
                        <select name="insScheme" id="insScheme" class="form-control" ng-model="data.insScheme"
                                ng-change="InsSchemeChange ();"
                                ng-options="scheme.name for scheme in insSchemeList track by scheme.id">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div id="_insSchemeRule" class="col-xs-12 col-md-9">
                        <label for="insSchemeRule"> Правило страхования страхования: </label>
                        <select id="insSchemeRule" class="form-control"
                                ng-model="data.insSchemeRule"
                                ng-options="rule.name for rule in insSchemeRuleList track by rule.id">

                        </select>

                    </div>
                    <div id="_currency" class="col-xs-12 col-md-3">
                        <label for="currency"> Валюта: </label>
                        <select id="currency" class="form-control"
                                ng-model="data.currency"
                                ng-options="currency.name for currency in currencyList track by currency.id">

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div id="_region" class="col-xs-12 col-md-3">
                        <label for="region">Регион:</label>
                        <select id="region" class="form-control"
                                ng-model="data.region"
                                ng-options="region.name for region in regionList track by region.id">
                        </select>
                    </div>

                    <div id="_paymentFrequency" class="col-xs-12 col-md-3">
                        <label for="paymentFrequency">Частота оплаты взносов:</label>
                        <select id="paymentFrequency" class="form-control"
                                ng-model="data.paymentFrequency"
                                ng-options="freq.name for freq in frequencyList track by freq.id">
                        </select>
                    </div>

                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Застрахованное лицо
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="gender" class="col-xs-6 col-md-3">
                        <label>Пол: </label> <br/>
                        <label>
                            <input type="radio" ng-model="data.insuredGender" ng-value="genderList[0].id"/>
                            {{genderList[0].name}}
                        </label> <!--<br/>-->
                        <label>
                            <input type="radio" ng-model="data.insuredGender" ng-value="genderList[1].id"/>
                            {{genderList[1].name}}
                        </label>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <label for="birthdate">Дата рождения</label>
                        <input type="date"
                               id="birthdate"
                               ng-model="data.insuredBirthDate"
                               ng-required="true"
                        />

                    </div>

                </div>

            </div>

        </div>


    </form>

</main>
</body>
</html>