<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Страхование</title>

    <link rel="stylesheet" href="libs/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="libs/ui-bootstrap/ui-bootstrap-1.3.3-csp.css">
    <link rel="stylesheet" href="css/calculator.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="libs/angularjs/1.5.7/angular.js"></script>
    <script src="libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="libs/angularjs/1.5.7/angular-aria.js"></script>
    <script src="libs/angularjs/1.5.7/angular-messages.js"></script>
    <script src="libs/angularjs/1.5.7/angular-route.js"></script>

    <script src="libs/ui-bootstrap/ui-bootstrap-1.3.3.js"></script>
    <script src="libs/ui-bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

    <!-- App -->
    <script src="js/insuranceApp.js"></script>
    <!-- Services -->
    <script src="js/services/security/sessionHolder.js"></script>
    <script src="js/services/security/securityInterceptor.js"></script>
    <script src="js/services/security/securityRetryQueue.js"></script>
    <script src="js/services/security/securityService.js"></script>
    <script src="js/services/calcService.js"></script>
    <script src="js/services/serviceTest.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/ModalInstanceCtrl.js"></script>
    <script src="js/controllers/loginModalCtrl.js"></script>
    <script src="js/controllers/calculatorCtrl.js"></script>
    <script src="js/controllers/firstController.js"></script>
    <script src="js/controllers/secondController.js"></script>

</head>
<body ng-app="insuranceApp">

<nav class="navbar navbar-default" ng-controller="mainInsuranceCtrl">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="navClass('first')"><a href="#/first">First page</a></li>
                <li ng-class="navClass('second')"><a href="#/second">Second page</a></li>
                <li ng-class="navClass('calculator')"><a href="#/calculator">Калькулятор</a></li>
            </ul>

            <div class="nav navbar-nav navbar-right">
                <a ng-href="#" ng-click="login()" ng-show="!isAuthorized">Войти</a>
                <span uib-dropdown on-toggle="toggled(open)" ng-show="isAuthorized">
                  <a href id="simple-dropdown" uib-dropdown-toggle ng-show="isAuthorized">
                      Аккаунт: {{authorizedUserName}}
                  </a>
                  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                      <li>
                          <a href ng-click="logout()">Выйти</a>
                      </li>
                  </ul>
                </span>
            </div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div ng-view></div>
</body>
</html>