<main class="container">
    <div class=""><h3>Калькулятор условий страхования жизни</h3></div>
    <form>
        <div class="panel panel-default">
            <div class="panel-heading">Страховые риски</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Тип застрахованного лица</th>
                        <th>Риск</th>
                        <th>Страховая сумма</th>
                        <th>Взнос</th>
                        <th>Срок оплаты взносов</th>
                        <th>Срок действия риска</th>
                        <th>Нетто-тариф</th>
                    </tr>
                    <tr ng-repeat="risk in riskData"
                        ng-click="setSelectedRisk(risk)"
                        ng-class="{selected : isRiskSelected(risk)}"
                    >
                        <td>{{risk.forIndividualTypeName}}</td>
                        <td>{{risk.riskTypeName}}</td>
                        <td>{{risk.riskAmount}}</td>
                        <td>{{risk.payAmount}}</td>
                        <td>{{risk.payTerm}}</td>
                        <td>{{risk.term}}</td>
                        <td>{{risk.nettoTariff}}</td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{selectedRisk.riskTypeName + " [ " + selectedRisk.forIndividualTypeName +" ]"}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <label for="selectedRiskAmount">Страховая сумма</label>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input id="selectedRiskAmount" type="text" ng-model="selectedRisk.riskAmount" class="form-control"/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <label for="selectedPayAmount">Взнос</label>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input id="selectedPayAmount" type="text" ng-model="selectedRisk.payAmount" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <label for="selectedPaytem">Срок оплаты взносов</label>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input id="selectedPaytem" type="text" ng-model="selectedRisk.payTerm" class="form-control"/>
                    </div>

                    <div class="col-xs-12 col-md-3">
                        <label for="selectedPayCount">Количество взносов</label>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input id="selectedPayCount" type="text" ng-value="selectedRisk.payCount" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <label for="selectedTerm">Срок действия рисков</label>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input id="selectedTerm" type="text" ng-model="selectedRisk.term" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Условия страхования по договору
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <label for="insScheme"> Программа страхования: </label>
                        <select name="insScheme" id="insScheme" class="form-control" ng-model="calcData.insuranceScheme"
                                ng-change="InsSchemeChange ();"
                                ng-options="scheme.name for scheme in insuranceSchemes track by scheme.id"
                                ng-required="true"
                        >
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div id="_insSchemeRule" class="col-xs-12 col-md-9">
                        <label for="insSchemeRule"> Правило страхования страхования: </label>
                        <select id="insSchemeRule" class="form-control"
                                ng-model="calcData.insuranceSchemeRule"
                                ng-options="rule.name for rule in insuranceSchemeRules track by rule.id">

                        </select>

                    </div>
                    <div id="_currency" class="col-xs-12 col-md-3">
                        <label for="currency"> Валюта: </label>
                        <select id="currency" class="form-control"
                                ng-model="calcData.currency"
                                ng-options="currency.name for currency in currencies track by currency.code">

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div id="_region" class="col-xs-12 col-md-3">
                        <label for="region">Регион:</label>
                        <select id="region" class="form-control"
                                ng-model="calcData.region"
                                ng-options="region.name for region in regions track by region.id">
                        </select>
                    </div>

                    <div id="_paymentFrequency" class="col-xs-12 col-md-3">
                        <label for="paymentFrequency">Частота оплаты взносов:</label>
                        <select id="paymentFrequency" class="form-control"
                                ng-model="calcData.paymentFrequency"
                                ng-options="freq.name for freq in frequencies track by freq.code">
                        </select>
                    </div>


                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Застрахованное лицо
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div id="gender" class="col-xs-5 col-md-3">
                            <label>Пол: </label> <br/>
                            <label>
                                <input type="radio" ng-model="calcData.insuredGender" ng-value="genders[0].code"/>
                                {{genders[0].name}}
                            </label>
                            <label>
                                <input type="radio" ng-model="calcData.insuredGender" ng-value="genders[1].code"/>
                                {{genders[1].name}}
                            </label>
                        </div>
                        <div class="col-xs-5 col-md-3">
                            <label for="birthdate">Дата рождения:</label> <br/>

                            <p class="input-group">
                                <input id="birthdate"
                                       type="text"
                                       class="form-control"
                                       uib-datepicker-popup="dd.MM.yyyy"
                                       ng-model="calcData.insuredBirthDate"
                                       is-open="dtCalendar.opened"
                                       datepicker-options="dateOptions"
                                       ng-required="true"
                                       close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>


                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="addInsRisk()">Добавить риск</button>
            <button type="button" class="btn btn-default">Выполнить расчет</button>
        </div>
    </form>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Выберите риск</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <p ng-click="$event.preventDefault(); selected.item = item"
                       ng-class="{selected : selected.item == item}">
                        {{ item.insurancerisktypename + ' ' + item.forindividualtypename }}
                    </p>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Выбрать</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
        </div>
    </script>


</main>

